.dashboard{
    // flex: 4;
    // width: 100%;
    // display: flex;
    // gap: 25px;
    // background-color: #f0f0f0;
    // color: whitesmoke;
    position: relative;

}
  
    


.center{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #191521;
    // background-color: red;
  }
  