.header{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3{
        color: gray;
    }
}

.buttons {
    display: flex;
    gap: 20px;
  
    button:first-child {
      background-color: gray;
    }
  }
  
  .toggle-reset {
    margin-top: 10px;
  
    button {
      background-color: #1e080f;
      width: 100px;
      padding: 10px;
      border: none;
      color: whitesmoke;
      cursor: pointer;
    }
  }

  .status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    button{
      background-color: #1e080f;
      width: 100px;
      padding: 10px;
      border: none;
      color: whitesmoke;
      cursor: pointer;
    }

  }
  
  form{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-group{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      input{
        padding: 10px;
        width: 80%;
        background-color: transparent;
        color: whitesmoke;
      }
    }
  }